/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

/* CSS Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  font-family: Inter, Helvetica, sans-serif;
  color: var(--gray);
}

:root {
  --black: #1b1b1b;
  --gray: #424242;
  --light-gray: #888888;
  --transparent-light-gray: #88888810;
  --green: #248232;
  --highlighted-green: #16501e;
  --transparent-green: #24823234;
  --white: #fefefe;
  --red: #d33f49;
}

.row {
  /* width: 90%;
  max-width: 1320px; */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.5rem;
  margin: 0 auto;
  /* border: 1px solid black; */
}

[class*="col-"] {
  max-width: 100%;
  /* background-color: rgba(86, 61, 124, 0.15); */
  /* border: 1px solid black; */
}

/* Base column classes (apply to all screen sizes) */
.col-1 {
  grid-column: span 1;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

.col-5 {
  grid-column: span 5;
}

.col-6 {
  grid-column: span 6;
}

.col-7 {
  grid-column: span 7;
}

.col-8 {
  grid-column: span 8;
}

.col-9 {
  grid-column: span 9;
}

.col-10 {
  grid-column: span 10;
}

.col-11 {
  grid-column: span 11;
}

.col-12 {
  grid-column: span 12;
}

html {
  font-size: 1rem;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding-top: 10vh;
  background-image:
    linear-gradient(var(--transparent-green), var(--transparent-green)),
    url(assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body b {
  color: var(--black);
}

header {
  position: fixed;
  width: 100vw;
  height: 10%;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99999999999999;

  background: var(--transparent-green);
}

main {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-items: center;
}

.tickets-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 90%;
  padding: 8px;
}

.ticket-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid var(--light-gray);
  margin: 8px 0;
  border-radius: 8px;
  flex-wrap: wrap;
  background-color: var(--white);
  box-shadow: 0 0 4px rgb(0, 0, 0);
  transition: 0.3s ease-in-out;
}

.ticket-card.row {
  max-width: 100%;
}

.ticket-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-logo {
  display: none;
}

.app-icon {
  height: 30px;
}

.ticket-subject {
  text-align: center;
  background-color: var(--transparent-light-gray);
  padding: 8px;
  border-radius: 8px;
}

.ticket-feedback {
  border-radius: 8px;
  background-color: var(--transparent-light-gray);
  padding: 20px;
  text-align: center;
}

.ticket-card > *:nth-child(1), .ticket-card > *:nth-child(2){
  font-size: 0.8rem;
}

.ticket-card:hover {
  box-shadow: 0 0 8px black;
  scale: 1.003;
}

/* .tracking-id {
  font-size: 0.8rem;
} */

.ticket-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-end;
  font-size: 0.8rem;
  align-items: center;
  bottom: 0;
  height: 30px;
  width: 100%;
}

.ticket-footer img {
  display: none;
}

.low-prio {
  border-top: 4px solid blue;
}

.medium-prio {
  border-top: 4px solid yellow;
}

.high-prio {
  border-top: 4px solid var(--red);
}

.resolved {
  border-top: 4px solid var(--green);
}

footer {
  width: 100%;
  padding: 8px;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;

  background: var(--transparent-green);
  backdrop-filter: blur(10px);
}

.status-updated {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* 
================
CSS Breakpoints
================
*/

/* Extra small screens (<576px) (XS) */
@media (max-width: 575px) {
  .row {
    max-width: 90%;
  }
}

/* Small screens (>=576px) (SM) */
@media (min-width: 576px) {
  .row {
    max-width: 540px;
  }

  .col-sm-1 {
    grid-column: span 1;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-12 {
    grid-column: span 12;
  }
}

/* Medium screens (>=768px) (MD) */
@media (min-width: 768px) {
  .row {
    max-width: 720px;
  }

  .col-md-1 {
    grid-column: span 1;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-12 {
    grid-column: span 12;
  }
}

/* Large screens (>=992px) (LG) */
@media (min-width: 992px) {
  /* .tickets-container {
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    /* width: auto; 
    
  } */
  

  /* .ticket-card {
    margin: 8px;
    flex: 1 1 100%;
    flex-direction: row;
    align-items: center;
  } */

  /* .ticket-header {
    gap: 32px;
  } */
/* 
  .ticket-header .app-icon {
    display: none;
  } */

  .ticket-footer {
    gap: 16px;
    /* justify-content: space-between; */
  }

  .ticket-footer img {
    display: flex;
  }

  .row {
    max-width: 960px;
  }

  .col-lg-1 {
    grid-column: span 1;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-12 {
    grid-column: span 12;
  }
}

/* Extra large screens (>=1200px) */
@media (min-width: 1200px) {
  .row {
    max-width: 1140px;
  }

  .col-xl-1 {
    grid-column: span 1;
  }

  .col-xl-2 {
    grid-column: span 2;
  }

  .col-xl-3 {
    grid-column: span 3;
  }

  .col-xl-4 {
    grid-column: span 4;
  }

  .col-xl-5 {
    grid-column: span 5;
  }

  .col-xl-6 {
    grid-column: span 6;
  }

  .col-xl-7 {
    grid-column: span 7;
  }

  .col-xl-8 {
    grid-column: span 8;
  }

  .col-xl-9 {
    grid-column: span 9;
  }

  .col-xl-10 {
    grid-column: span 10;
  }

  .col-xl-11 {
    grid-column: span 11;
  }

  .col-xl-12 {
    grid-column: span 12;
  }
}

@media (min-width: 1400px) {
  .row {
    max-width: 1320px;
  }

  .col-xxl-1 {
    grid-column: span 1;
  }

  .col-xxl-2 {
    grid-column: span 2;
  }

  .col-xxl-3 {
    grid-column: span 3;
  }

  .col-xxl-4 {
    grid-column: span 4;
  }

  .col-xxl-5 {
    grid-column: span 5;
  }

  .col-xxl-6 {
    grid-column: span 6;
  }

  .col-xxl-7 {
    grid-column: span 7;
  }

  .col-xxl-8 {
    grid-column: span 8;
  }

  .col-xxl-9 {
    grid-column: span 9;
  }

  .col-xxl-10 {
    grid-column: span 10;
  }

  .col-xxl-11 {
    grid-column: span 11;
  }

  .col-xxl-12 {
    grid-column: span 12;
  }
}
