* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  font-family: Inter, Helvetica, sans-serif;
}

:root {
  --black: #1b1b1b;
  --gray: #424242;
  --light-gray: #888888;
  --transparent-light-gray: #88888810;
  --green: #248232;
  --highlighted-green: #16501e;
  --transparent-green: #24823234;
  --white: #fefefe;
  --red: #d33f49;
}

html {
  font-size: 1rem;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding-top: 10vh;
}

header {
  position: fixed;
  width: 100vw;
  height: 10%;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99999999999999;

  background: var(--transparent-green);
}

main {
  /* min-height: 100vh; */
  /* padding: 10rem 15%; */
}

footer {
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--transparent-green);
}

/* @media (min-width: 600px) {

} */

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

/* CSS Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row {
  /* width: 90%;
  max-width: 1320px; */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.5rem;
  margin: 0 auto;
  /* border: 1px solid black; */
}

[class*="col-"] {
  max-width: 100%;
  /* background-color: rgba(86, 61, 124, 0.15); */
  /* border: 1px solid black; */
}

/* Base column classes (apply to all screen sizes) */
.col-1 {
  grid-column: span 1;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

.col-5 {
  grid-column: span 5;
}

.col-6 {
  grid-column: span 6;
}

.col-7 {
  grid-column: span 7;
}

.col-8 {
  grid-column: span 8;
}

.col-9 {
  grid-column: span 9;
}

.col-10 {
  grid-column: span 10;
}

.col-11 {
  grid-column: span 11;
}

.col-12 {
  grid-column: span 12;
}

/* 
================
CSS Breakpoints
================
*/

/* Extra small screens (<576px) (XS) */
@media (max-width: 575px) {
  .row {
    max-width: 90%;
  }
}

/* Small screens (>=576px) (SM) */
@media (min-width: 576px) {
  .row {
    max-width: 540px;
  }

  .col-sm-1 {
    grid-column: span 1;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-12 {
    grid-column: span 12;
  }
}

/* Medium screens (>=768px) (MD) */
@media (min-width: 768px) {
  .row {
    max-width: 720px;
  }

  .col-md-1 {
    grid-column: span 1;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-12 {
    grid-column: span 12;
  }
}

/* Large screens (>=992px) (LG) */
@media (min-width: 992px) {
  .row {
    max-width: 960px;
  }

  .col-lg-1 {
    grid-column: span 1;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-12 {
    grid-column: span 12;
  }
}

/* Extra large screens (>=1200px) */
@media (min-width: 1200px) {
  .row {
    max-width: 1140px;
  }

  .col-xl-1 {
    grid-column: span 1;
  }

  .col-xl-2 {
    grid-column: span 2;
  }

  .col-xl-3 {
    grid-column: span 3;
  }

  .col-xl-4 {
    grid-column: span 4;
  }

  .col-xl-5 {
    grid-column: span 5;
  }

  .col-xl-6 {
    grid-column: span 6;
  }

  .col-xl-7 {
    grid-column: span 7;
  }

  .col-xl-8 {
    grid-column: span 8;
  }

  .col-xl-9 {
    grid-column: span 9;
  }

  .col-xl-10 {
    grid-column: span 10;
  }

  .col-xl-11 {
    grid-column: span 11;
  }

  .col-xl-12 {
    grid-column: span 12;
  }
}

@media (min-width: 1400px) {
  .row {
    max-width: 1320px;
  }

  .col-xxl-1 {
    grid-column: span 1;
  }

  .col-xxl-2 {
    grid-column: span 2;
  }

  .col-xxl-3 {
    grid-column: span 3;
  }

  .col-xxl-4 {
    grid-column: span 4;
  }

  .col-xxl-5 {
    grid-column: span 5;
  }

  .col-xxl-6 {
    grid-column: span 6;
  }

  .col-xxl-7 {
    grid-column: span 7;
  }

  .col-xxl-8 {
    grid-column: span 8;
  }

  .col-xxl-9 {
    grid-column: span 9;
  }

  .col-xxl-10 {
    grid-column: span 10;
  }

  .col-xxl-11 {
    grid-column: span 11;
  }

  .col-xxl-12 {
    grid-column: span 12;
  }
}
